/* css del login */
body {
  background-color: rgb(64, 65, 67);
  text-align: center;  
  width: 60%;
  padding: 10px;
  margin: auto;
}

.form-control {  
  margin-right: 5%;
   
}

#imagen {  
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  
}

span{
  color: #f6a800;  
}

h4 {
  color: #f6a800;
  
}

.btn-secondary {  
  width: 10em;
  margin-top: 1em;  
  background-color: #f6a800;
  border:  #f6a800;
  margin-left: 0em;
 }

 .nav-item{
  text-align: justify;
 }
 /* fin css login */
 .navMenu {  
  color: white;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  size: 13px;
}

.navbar{
  background-color: #f6a800;
}
 /* css seccion registro */
 #registerSec {
   display: none; 
   margin: auto;  
 }

 .btn-cuater{
  width: 20em;
  height: 2em;
  background-color: #f6a800;
 }
 /* fin seccion registro */

 /* menu nav */
 nav {
   background-color:  #dddee0;
 }
 
.leterMenu {
  color: #f6a800;
}
 /* fin menu nav */

 /* css secion menú */

 .container-fluid {
   width: 100%;   
 }
 .botonesylactm {
   width: 100%;
 }
.btn-primary{
  width: 100em;
  margin:1em;
  background-color: #f6a800;
  border:  #f6a800; 
  text-align: center;    
  border-radius: 0;
  height: 1.5em;
}
.parrFuBt{
  font: 0.7em sans-serif;
  text-align: center;
}
 
#seccionMenu {
  display: none;
  background-color: #dddee0;
}
.flex-column {
  background-color: white;
}
.bg-dark {
  background-color: white;
}
/* fin css seccion menú */

/* css seccion perfil */
#seccionPerfil{
  background-color: #dddee0;
}
.cabeza{
  background-color: #f6a800;
}
img {
  border-radius: 50%;
  text-align: center;
}

.inPer {
  width: 15em;
  margin-left:10em;
  text-align: center;
  background-color: #dddee0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #a6a6a8; 
  background-color: #dddee0;
}

.inEmailSaldo{
  background-color: white;
  border: none;
  text-align: center;
  width: 20em;
  border-radius: 1%;
  margin: 1em;
  margin-left: 7em; 
}

.btn-terciary {  
  background-color: #F6A800;
  color: white;
  width: 47%;
  padding: 0%;
  font-size: 16px;;
}
.secciondemierda { 
 background-color: #dddee0; 
}

input {
  display: block;
  text-align: center;
  margin: 2em;
}

#seccionPerfil{
  display: none;
}
/* fin css seccion perfil */

/* css seccion ver saldo */
.muroCard {
  background-color: #dddee0;  
}
#seccionCard {
  display: none;
  background-color: #dddee0;
  margin-top: -2em;
}
.botonVerSaldo{
  background-color: #F6A800;
  color: white;
  width: 45%;
  padding: 0%;
  font-size: 16px;
}
.costototal{
  background-color: #3e3f41;
  font-size: 15px;
}
.divSaldo {
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  background-color: #F6A800;
  width: 80%;
  font-size: 25px;
  font-weight: bold
}
/* fin css seccion ver saldo */

/* css seccion tarifa */
#seccionTarifa{
 display: none;
 background-color: #dddee0;
}
.seconTarifa {  
  display: inline-flex;
  width: 35em;
  margin-left: -3em;
}
.mb-4 {
  width: 15em;
  margin:1em;  
}
.inPero{
  text-align: center;
  width: 30em;
}
/* fin css seccion tarifa */

@media (min-width: 768px){
  .sectionLog, .registerSec, .seccionPerfil{
    font-size: 15px;
  }
  }

  /* preguntas */

  #sectionQuest {
    display: none;
  }

  .preguntas{
    background-color: #f6a800;
    color: white;
    font-size: 50px;
    height: 200px;
  }

  .questPregun {
    background-color: #dddee0;
    width: 45%;
    height: 75px;
    padding: 0%;
    font-size: 15px;
    color: black;
    text-align: center;
    margin-left: -25em;
  }
  .reseña{
    font-size: 25px;
  }
  