/* css del login */
body {
  background-color: rgb(64, 65, 67);
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10px;
}

#imagen {  
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

span,h4{
  color: #f6a800;
}

.btn-secondary {  
  width: 10em;
  margin:0;
  background-color: #f6a800;
  border:  #f6a800;
 }

 .nav-item{
  text-align: justify;
 }
 /* fin css login */

 /* css secion menú */
.btn-primary{
  width: 100em;
  margin:1em;
  background-color: #f6a800;
  border:  #f6a800; 
  text-align: center;    
  border-radius: 0;
}

 
#seccionMenu{
  display: none;
  background-color: #dddee0;
}
/* fin css seccion menú */

/* css seccion perfil */
#seccionPerfil{
  background-color: #dddee0;
}
.cabeza{
  background-color: #f6a800;
}
img {
  border-radius: 50%;
  text-align: center;
}

.inPer {
  width: 40em;
  margin:1em;
  text-align: center; 
}

.btn-terciary {  
  width: 40em;
  margin:1em;
  background-color: #f6a800;
  border:  #f6a800; 
  text-align: center;    
  border-radius: 0;
}
.secciondemierda { 
 background-color: #dddee0; 
}

input {
  display: block;
  text-align: center;
  margin: 2em;
}
#seccionPerfil{
  display: none;
}
/* fin css seccion perfil */

/* css seccion ver saldo */

.muroCard {
  background-color: #dddee0;
}
#seccionCard {
  display: none;
  background-color: #dddee0;
}
.botonVerSaldo{
  width: 20em;
  margin:1em;
  background-color: #f6a800;
  border:  #f6a800; 
  text-align: center;    
  border-radius: 0;
}
/* fin css seccion ver saldo */


